<h1>physicians</h1>


<!-- Эта форма записи нужна для того, чтобы отдельно выводить каждого врача на экран.
Обязательно нужно создать частичное представление physicians/_physician.html.erb -->
<ul style="background-color: white">
  <%= render @physicians %>
</ul>